* {
  margin: 15px;
  padding: 2%;
  box-sizing: border-box;
}

html {
  font-family: cursive;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1;

  display: flex;
  gap: 1ch;
}

p.brand {text-align: center;
  font-size: 75px;}

  /* display: flex
  font-size: 55px; 
  justify-content: space-evenly;};} */

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

li {
  background-color: blueviolet;
  margin-bottom: 1 rem;
  padding: .6rem;
  border-radius: 7rem;
  width: 200px;
}

p {
  border: 0.5rem outset pink;
  outline: 0.5rem solid khaki;
  border-radius: 12px;
  margin: 2rem;
  padding: 1rem;}

.testimonial {font-weight: 1000;}

nav a {color: blueviolet;
  font-size: 30px;
}